@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./shippori-mincho-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./shippori-mincho-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./shippori-mincho-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./zen-maru-gothic-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./zen-maru-gothic-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./zen-maru-gothic-700.woff2') format('woff2');
}
